* linguist-vendored
*.cpp linguist-vendored=Dart
*.java linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.dart linguist-detectable=true

